<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>洋码头-购在全球，更多洋货 海外购物网_正品保障_海外直邮_正品低价</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap-3.3.4-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/swiper-4.2.6.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="index">
<!--弹出框-->
<div class="tc">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 img">
                <span><span class="tc-span">13</span>秒后自动关闭</span>
                <p>x</p>
                <img src="img/tanchukuang/img1.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<!--弹出框-->

<!--顶部广告部分-->
    <div class="top-advert">
        <span class="advert-btn1"><i>&nbsp;</i></span>
        <span class="advert-btn2"><i>&nbsp;</i></span>
        <div class="advert-bg">
            <img src="img\headeradvert/advert.png" alt="" class="advert">
        </div>
    </div>
<!--顶部广告部分-->

<!--header导航部分-->
    <header class="clearfix header">
        <div class="logo">
            <a href="index.html"><img src="img/header/logo.png" alt=""></a>
        </div>
        <div class="nav clearfix">
            <p class="active"><a href="index.html">首页</a></p>
            <p><a href="list.html">分类</a></p>
            <p><a href="">社区</a></p>
        </div>
        <div class="header-list">
            <a href="shop.html"><i class="fa fa-shopping-cart"></i></a>
            <a href="sign.html"><i class="fa fa-user-o"></i></a>
        </div>
    </header>
<!--header导航部分-->

<!--banner轮播图部分-->
    <div class="banner">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="img/banner/banner-img1.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/banner/banner-img2.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/banner/banner-img3.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/banner/banner-img4.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/banner/banner-img5.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/banner/banner-img6.jpg" alt=""></div>
                <div class="swiper-slide"><img src="img/banner/banner-img7.jpg" alt=""></div>
            </div>
            <!-- 如果需要分页器 -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
<!--banner轮播图部分-->

<!--限时抢部分-->
    <div class="xsq">
        <div class="container">
            <div class="bt-title">
                <h3><i class="fa fa-clock-o"></i>限时抢</h3>
            </div>
            <div class="row">
                <div class="shop">
                    <a href="">
                        <ul class="clearfix">
                            <li>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <img src="img/xianshiqiang/img1.jpg" alt="">
                                        <a href="" class="times"><p>仅剩<span class="time"></span></p></a>
                                    </div>
                                    <div class="col-xs-6 xs6">
                                        <h4>Qttimo</h4>
                                        <p>强效升级排油丸618秒杀 安全享“瘦”</p>
                                        <p class="rightp clearfix">¥499<span>¥999</span></p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <img src="img/xianshiqiang/img2.jpg" alt="">
                                        <a href="" class="times"><p>仅剩<span class="time"></span></p></a>
                                    </div>
                                    <div class="col-xs-6 xs6">
                                        <h4>Ray芮一</h4>
                                        <p>蚕丝面膜 618秒杀 爆款抢不停</p>
                                        <p class="rightp clearfix">¥38<span>¥79</span></p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <img src="img/xianshiqiang/img3.jpg" alt="">
                                        <a href="" class="times"><p>仅剩<span class="time"></span></p></a>
                                    </div>
                                    <div class="col-xs-6 xs6">
                                        <h4>莱斯壁</h4>
                                        <p>娜扎同款防晒喷雾618秒杀 清爽透气</p>
                                        <p class="rightp clearfix">¥29<span>¥98</span></p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <img src="img/xianshiqiang/img4.jpg" alt="">
                                        <a href="" class="times"><p>仅剩<span class="time"></span></p></a>
                                    </div>
                                    <div class="col-xs-6 xs6">
                                        <h4>Champion</h4>
                                        <p>双面渔夫帽 618秒杀 显脸小神器</p>
                                        <p class="rightp clearfix">¥92<span>¥288</span></p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <img src="img/xianshiqiang/img5.jpg" alt="">
                                        <a href="" class="times"><p>仅剩<span class="time"></span></p></a>
                                    </div>
                                    <div class="col-xs-6 xs6">
                                        <h4>Jayjun</h4>
                                        <p>水光面膜三部曲 618秒杀 顺润透白</p>
                                        <p class="rightp clearfix">¥42<span>¥99</span></p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <img src="img/xianshiqiang/img6.jpg" alt="">
                                        <a href="" class="times"><p>仅剩<span class="time"></span></p></a>
                                    </div>
                                    <div class="col-xs-6 xs6">
                                        <h4>Pororo</h4>
                                        <p>防蚊手环 618秒杀 驱蚊止痒</p>
                                        <p class="rightp clearfix">¥19<span>¥158</span></p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <img src="img/xianshiqiang/img7.jpg" alt="">
                                        <a href="" class="times"><p>仅剩<span class="time"></span></p></a>
                                    </div>
                                    <div class="col-xs-6 xs6">
                                        <h4>Royal</h4>
                                        <p>脐带血精华液 618秒杀 美容修复</p>
                                        <p class="rightp clearfix">¥208<span>¥599</span></p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <img src="img/xianshiqiang/img8.jpg" alt="">
                                        <a href="" class="times"><p>仅剩<span class="time"></span></p></a>
                                    </div>
                                    <div class="col-xs-6 xs6">
                                        <h4>Skinfood</h4>
                                        <p>美食精华面膜套装 618秒杀 组合特惠</p>
                                        <p class="rightp clearfix">¥19.9<span>¥128</span></p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <img src="img/xianshiqiang/img9.jpg" alt="">
                                        <a href="" class="times"><p>仅剩<span class="time"></span></p></a>
                                    </div>
                                    <div class="col-xs-6 xs6">
                                        <h4>Evisu</h4>
                                        <p>潮牌短袖T恤 618秒杀 情侣款</p>
                                        <p class="rightp clearfix">¥98.8<span>¥129</span></p>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <img src="img/xianshiqiang/img10.jpg" alt="">
                                        <a href="" class="times"><p>仅剩<span class="time"></span></p></a>
                                    </div>
                                    <div class="col-xs-6 xs6">
                                        <h4>Freeplus</h4>
                                        <p>氨基酸洗面奶 618秒杀 深层清洁</p>
                                        <p class="rightp clearfix">¥87<span>¥125</span></p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </a>
                </div>
            </div>
        </div>
    </div>
<!--限时抢部分-->

<!--小编精选部分-->
    <div class="xbjx">
        <div class="container">
            <div class="bt-title">
                <h3><i class="fa fa-tags"></i>小编精选</h3>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="xbjximg-bg">
                        <div class="xbjx-text">
                            <h2>5款爆款防晒大PK！</h2>
                            <p><a href="">查看更多<i class="fa fa-angle-right"></i></a></p>
                        </div>
                        <img src="img/xiaobianjingxuan/img1.jpg" alt="" class="xbjx-img1">
                    </div>
                    <div class="xbjximg-bg">
                        <div class="xbjx-text">
                            <h2>30岁看起来也能像00后</h2>
                            <p><a href="">查看更多<i class="fa fa-angle-right"></i></a></p>
                        </div>
                        <img src="img/xiaobianjingxuan/img2.jpg" alt="" class="xbjx-img1">
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--小编精选部分-->

<!--洋货集部分-->
    <div class="yhj">
        <div class="container">
            <div class="bt-title">
                <h3><i class="fa fa-shopping-bag"></i>洋货集</h3>
            </div>
            <div class="row">
                <div class="col-xs-12" id="yhj-box">
                    <a href="" v-for="list in lists">
                        <img class="yhj-bigimg" :src="list.ulimg1" alt="">
                        <ul>
                            <div class="yhj-bigbox clearfix">
                                <li v-for="arr in list.arrs">
                                    <img :src="arr.liimg1" alt="">
                                    <h3>{{arr.lih31}}</h3>
                                    <p>{{arr.price1}}</p>
                                </li>
                            </div>
                        </ul>
                    </a>
                </div>
            </div>
        </div>
    </div>
<!--洋货集部分-->

<!--猜你喜欢-->
    <div class="cnxh">
        <div class="container">
            <div class="bt-title">
                <h3><i class="fa fa-heart-o"></i>猜你喜欢</h3>
            </div>
            <div class="row" id="cnxh-box">
                <div class="col-xs-6" v-for="rank in ranks">
                    <a href="">
                        <img :src="rank.cnxhimg1" alt="" class="cnxhimg1">
                        <img :src="rank.cnxhimg2" alt="" class="cnxhimg2">
                        <h3>{{rank.cnxhh3}}</h3>
                        <div class="cnxh-tag">
                            <span>{{rank.cnxhspan1}}</span>
                            <span>{{rank.cnxhspan2}}</span>
                        </div>
                        <div class="cnxh-text clearfix">
                            <p>{{rank.cnxhp1}}</p>
                            <p><img :src="rank.cnxhimg3" alt="" class="cnxhimg3">{{rank.cnxhp2}}</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
<!--猜你喜欢-->

<!--footer部分-->
    <footer>
        <div class="footer">
            <div class="totop"></div>
            <a href="">
                <p><span>客服端</span>|<span>关于洋码头</span>|<span>媒体报道</span></p>
                <p>上海洋码头网络技术有限公司&nbsp版权所有</p>
            </a>
        </div>
    </footer>
<!--footer部分-->
<div id="find"></div>
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/swiper-4.2.6.min.js"></script>
    <script src="js/timeCountDown.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/script.js"></script>
</body>
</html>