<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>洋码头-购在全球，更多洋货 海外购物网_正品保障_海外直邮_正品低价</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap-3.3.4-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/swiper-4.2.6.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="list">
<!--顶部广告部分-->
<div class="top-advert">
    <span class="advert-btn1"><i>&nbsp;</i></span>
    <span class="advert-btn2"><i>&nbsp;</i></span>
    <div class="advert-bg">
        <img src="img\headeradvert/advert.png" alt="" class="advert">
    </div>
</div>
<!--顶部广告部分-->

<!--header导航部分-->
<header class="clearfix header">
    <div class="logo">
        <a href="index.html"><img src="img/header/logo.png" alt=""></a>
    </div>
    <div class="nav clearfix">
        <p><a href="index.html">首页</a></p>
        <p class="active"><a href="list.html">分类</a></p>
        <p><a href="">社区</a></p>
    </div>
    <div class="header-list">
        <a href="shop.html"><i class="fa fa-shopping-cart"></i></a>
        <a href="sign.html"><i class="fa fa-user-o"></i></a>
    </div>
</header>
<!--header导航部分-->

<!--分类-->
    <div class="find">
        <div class="container">
            <div class="row">
                <div class="col-xs-3">
                    <ul class="find-nav">
                        <li class="active">女士箱包</li>
                        <li>女士鞋靴</li>
                        <li>护肤产品</li>
                        <li>美妆指南</li>
                        <li>食品保健</li>
                        <li>减肥瘦身</li>
                        <li>撩妹必备</li>
                        <li>母婴儿童</li>
                    </ul>
                </div>
                <div class="col-xs-9" id="find">
                  <a href="">
                       <div class="find-box">
                           <div class="row">
                                <div class="col-xs-4" v-for="arr in arrs1">
                                    <img :src="arr.img" alt="">
                                    <p>{{arr.name}}</p>
                                </div>
                            </div>
                       </div>
                       <div class="find-box">
                           <div class="row">
                                <div class="col-xs-4" v-for="arr in arrs2">
                                    <img :src="arr.img" alt="">
                                    <p>{{arr.name}}</p>
                                </div>
                            </div>
                       </div>
                       <div class="find-box">
                           <div class="row">
                                <div class="col-xs-4" v-for="arr in arrs3">
                                    <img :src="arr.img" alt="">
                                    <p>{{arr.name}}</p>
                                </div>
                            </div>
                       </div>
                       <div class="find-box">
                           <div class="row">
                                <div class="col-xs-4" v-for="arr in arrs4">
                                    <img :src="arr.img" alt="">
                                    <p>{{arr.name}}</p>
                                </div>
                            </div>
                       </div>
                       <div class="find-box">
                           <div class="row">
                                <div class="col-xs-4" v-for="arr in arrs5">
                                    <img :src="arr.img" alt="">
                                    <p>{{arr.name}}</p>
                                </div>
                            </div>
                       </div>
                       <div class="find-box">
                           <div class="row">
                                <div class="col-xs-4" v-for="arr in arrs6">
                                    <img :src="arr.img" alt="">
                                    <p>{{arr.name}}</p>
                                </div>
                            </div>
                       </div>
                       <div class="find-box">
                           <div class="row">
                                <div class="col-xs-4" v-for="arr in arrs7">
                                    <img :src="arr.img" alt="">
                                    <p>{{arr.name}}</p>
                                </div>
                            </div>
                       </div>
                       <div class="find-box">
                           <div class="row">
                                <div class="col-xs-4" v-for="arr in arrs8">
                                    <img :src="arr.img" alt="">
                                    <p>{{arr.name}}</p>
                                </div>
                            </div>
                       </div>
                   </a>
                </div>
            </div>
        </div>
    </div>
<!--分类-->

<!--热门主题-->
<div class="rmzt">
    <div class="container">
       <div class="bt-title">
            <h3><i class="fa fa-bookmark-o"></i>热门主题</h3>
        </div>
        <div class="row" id="rmzt-box">
            <div class="col-xs-12">
                <h3>只需十分钟，教你化个心机妆</h3>
                <div class="row">
                    <div class="col-xs-4" v-for="list in list1">
                        <img :src="list.img" alt="">
                        <h4>{{list.name}}</h4>
                        <p>{{list.price}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <h3>f俘获欧巴，还是要靠“妆”</h3>
                <div class="row">
                    <div class="col-xs-4" v-for="list in list2">
                        <img :src="list.img" alt="">
                        <h4>{{list.name}}</h4>
                        <p>{{list.price}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <h3>防晒多样化的时代，你get到方法了吗？</h3>
                <div class="row">
                    <div class="col-xs-4" v-for="list in list3">
                        <img :src="list.img" alt="">
                        <h4>{{list.name}}</h4>
                        <p>{{list.price}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <h3>做好防晒，出街也要落落大方</h3>
                <div class="row">
                    <div class="col-xs-4" v-for="list in list4">
                        <img :src="list.img" alt="">
                        <h4>{{list.name}}</h4>
                        <p>{{list.price}}</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <h3>Armani口红，给你更自信的气场</h3>
                <div class="row">
                    <div class="col-xs-4" v-for="list in list5">
                        <img :src="list.img" alt="">
                        <h4>{{list.name}}</h4>
                        <p>{{list.price}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--热门主题-->

<!--猜你喜欢-->
<div class="cnxh">
    <div class="container">
        <div class="bt-title">
            <h3><i class="fa fa-heart-o"></i>猜你喜欢</h3>
        </div>
        <div class="row" id="cnxh-box">
            <div class="col-xs-6" v-for="rank in ranks">
                <a href="">
                    <img :src="rank.cnxhimg1" alt="" class="cnxhimg1">
                    <img :src="rank.cnxhimg2" alt="" class="cnxhimg2">
                    <h3>{{rank.cnxhh3}}</h3>
                    <div class="cnxh-tag">
                        <span>{{rank.cnxhspan1}}</span>
                        <span>{{rank.cnxhspan2}}</span>
                    </div>
                    <div class="cnxh-text clearfix">
                        <p>{{rank.cnxhp1}}</p>
                        <p><img :src="rank.cnxhimg3" alt="" class="cnxhimg3">{{rank.cnxhp2}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!--猜你喜欢-->

<!--footer部分-->
<footer>
    <div class="footer">
        <div class="totop"></div>
        <a href="">
            <p><span>客服端</span>|<span>关于洋码头</span>|<span>媒体报道</span></p>
            <p>上海洋码头网络技术有限公司&nbsp版权所有</p>
        </a>
    </div>
</footer>
<!--footer部分-->
<div id="yhj-box"></div>
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/swiper-4.2.6.min.js"></script>
<script src="js/timeCountDown.js"></script>
<script src="js/vue.js"></script>
<script src="js/script.js"></script>
</body>
</html>