*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	padding-bottom: 70px;
    background: #f8f8f8;
}
/*全站底部导航*/
nav li{
	list-style: none;
	float: left;
	padding: 10px 0px 10px 0px;
	width: 20%;
}
nav ul{
	text-align: center;
	padding: 0;
	border-top: 1px solid #cbcbcb;
}
nav{
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
}
.bottom-nav nav{
	background-color: #fff;
	z-index: 100;
}
nav a span{
	display: block;
}
nav a{
	color: #5d5f6a;
	font-size: 12px;
}
nav a:hover,
nav a.active{
	color: #f23030;
	text-decoration: none;
}
nav .fa{
	font-size: 20px;
	position: relative;
}
nav a span{
	padding-top: 3px;
}
nav .hot{
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: red;
	position: absolute;
	top: -2px;
	right: -8px;
}

/*顶部广告*/
#ad div:nth-of-type(1){
    width: 70%;
    background-color: black;
}
#ad div:nth-of-type(2){
    width: 30%;
    background-color: red;
}
#ad div{
    color: white;
    padding: 10px;
    float: left;
}
#ad span{
    padding: 5px;
}

/*首页搜索条*/
.search{
	font-size: 12px;
	color: #fff;
/*	background-color: #81485b;*/
	padding: 12px 0px;
	width: 100%;
	position: fixed;
	z-index: 100;
}

.search .left,
.search .center,
.search .right{
	float: left;
}
.search .left span,
.search .right span{
	display: block;
}
.search .left,
.search .right{
	width: 20%;
	text-align: center;
}
.search .left i,
.search .right i{
	font-size: 24px;
}
.search .center{
	width: 60%;
	position: relative;
}
.search .center input{
	width: 100%;
	height: 36px;
	border-radius: 25px;
	border: none;
	padding: 0 36px;
	outline: none;
}
.search .center i{
	font-size: 20px;
	color: #9b9b9b;
	position: absolute;
	top: 8px;
	left: 12px;
}
.search .center i.fa-microphone{
	left: auto;
	right: 15px;
}

/*首页轮播图*/
.banner img{
	width: 100%;
	height: 200px;
}
/*swiper定制样式*/

/*小圆点默认样式*/
.banner .swiper-pagination-bullet {
	width: 10px;
	height: 2px;
	display: inline-block;
	border-radius: 0;
	opacity: 0.5;
	background: #fff;
}
/*小圆点聚焦样式*/
.banner .swiper-pagination-bullet-active {
	opacity: 1;
	background: transparent;
	width: 10px;
	height: 10px;
	border: 1px solid #fff;
	border-radius: 50%;
	position: relative;
	top: 4px;
}

/*首页app导航链接*/
.app{
	background-color: #fff;
	padding-top: 5px;
	border-radius: 10px 10px 0px 0px;
	position: relative;
	margin-top: -10px;
	margin-bottom: 10px;
}
.app a{
	text-decoration: none;
	color: #848689;
}
.app>div{
	text-align: center;
	width: 20%;
	float: left;
	font-size: 12px;
	padding: 2px;
}
.app img{
	width: 100%;
	padding: 7px;
}

/*首页京东快报*/
.news{
	color: #000;
	font-family: "黑体";
	font-size: 14px;
	background-color: #ece9e9;
	padding: 5px;
	border-radius: 10px;
	margin-bottom: 10px;
}
.news a{
	text-decoration: none;
	color: #000;
	font-family: "黑体";
}
.news .left,
.news .center,
.news .right{
	float: left;
}
.news .left{
	width: 24%;
}
.news .right{
	width: 16%;
}
.news .center{
	width: 60%;
}
.news a em{
	font-style: inherit;
	color: red;
	font-weight: 600;
	margin-right: 5px;
}
.news .center a{
	height: 16px;
	overflow: hidden;
	display: block;
	/*css省略号*/
	text-overflow: ellipsis;
	white-space: nowrap;
}
.news .right{
	text-align: right;
}
.news .center{
	text-align: center;
	height: 16px;
	overflow: hidden;
}
	/*首页京东秒杀*/
.miaosha{
	text-align: center;
}
.miaosha .title .left{
    width: 66%;
    height: 100%;
    float: left;
    background-size: cover;
    background-image: url(../img/miaosha/bg.jpg);
}
.miaosha .title .right{
	float: right;
	width: 34%;
}
.miaosha .title .right a{
	text-decoration: none;
	color: #f02b2b;
	font-size: 12px;
}
.miaosha .title .right a i{
	background-image: url(../img/miaosha/jiantou.jpg);
	width: 16px;
	height: 16px;
	background-size: cover;
	display: inline-block;
	position: relative;
	top: 3px;
}
.miaosha .tit{
	font-size: 14px;
	font-weight: 600;
	color: #f02b2b;
}
.miaosha .left .h,
.miaosha .left .m,
.miaosha .left .s{
	background: #000;
	color: #fff;
	border-radius: 3px;
	padding: 0 2px;
}
.miaosha .shop ul{
	width: 700px;
}
.miaosha .shop{
	overflow: scroll;
}
.miaosha .shop li{
	float: left;
	width: 70px;
	list-style: none;
	text-align: center;
	position: relative;
}
.miaosha .shop li a{
	text-decoration: none;
}
.miaosha .shop img{
	width: 100%;
}
.miaosha .shop li p{
	color: #f02b2b;
	font-size: 14px;
	margin-bottom: 0;
}
.miaosha .shop li p del{
	color: #ababab;
	font-size: 12px;
}

.miaosha .shop .hot{
	background: url(../img/miaosha/remai.png);
	background-size: cover;
	display: inline-block;
	height: 14px;
	width: 40px;
	position: absolute;
	top: 52px;
	left: 15px;
}
.miaosha .shop .tuijian{
	background: url(../img/miaosha/tuijian.png);
	background-size: cover;
	display: inline-block;
	height: 14px;
	width: 40px;
	position: absolute;
	top: 52px;
	left: 15px;
}

/*首页京东发现部分*/
.faxian h3{
	font-size: 14px;
	font-weight: 600;
}
.faxian p{
	font-size: 12px;
	/*letter-spacing: -1px;*/
}
.faxian img{
	width: 100%;
}
.faxian .row:nth-of-type(1) .col-md-6{
	padding: 0px 5px;
}
.faxian .row:nth-of-type(1){
	margin: 0px -5px;
}
.faxian .row:nth-of-type(2) .col-md-6{
	padding: 0px 5px;
}
.faxian .row:nth-of-type(2){
	margin: 0px -5px;
}
.faxian .h31{
	color: #1dadd3;
}
.faxian .h32{
	color: #ff6b0d;
}
.faxian .h33{
	color: #ff9101;
}
.faxian .h34{
	color: #ff002b;
}
.faxian .h35{
	color: #ee1e6d;
}
.faxian .h36{
	color: #ff0d7a;
}
/*京东首页爱生活部分*/
.aishenghuo .ashtxt{
    background: url(../img/aishenghuo/ashbg.jpg);
    width: 100%;
    background-size: cover;
}
.aishenghuo .row .col-md-6{
    padding: 10px;
}
.aishenghuo .h30,.pzss .h30,.tstj .h30,.wntj .h30{
    font-size: 18px;
    color: #ea5b7d;
    padding: 10px;
    font-weight: 100;
}
.aishenghuo img {
    width: 100%;
}
.aishenghuo li{
    list-style: none;
}
.aishenghuo h3,.aishenghuo h4{
    font-size: 14px;
    font-weight: 600;
}
.aishenghuo p{
    font-size: 12px;
    letter-spacing: -0.8px;
    color: #f02b2b;
}

/*品质时尚部分*/
.pzss .pzsstxt{
    background: url(../img/pinzhishishang/pzbg.jpg);
    width: 100%;
    background-size: cover;
}
.pzss .row .col-md-6{
	padding: 10px;
}
.pzss .h30,.pzss .h30{
	font-size: 18px;
	color: #ea5b7d;
	padding: 10px;
	font-weight: 100;
}
.pzss img {
	width: 100%;
}
.pzss li{
	list-style: none;
}
.pzss h3,.pzss h4{
	font-size: 14px;
	font-weight: 600;
	letter-spacing: -0.6px;
}
.pzss p{
	font-size: 12px;
	width:100%;
	letter-spacing: -0.8px;
	color: #e836a8;
}
.pzss .row .col-md-3 p{
	font-size: 10px;
}

/*特色推荐部分*/
.tstj .tstjtxt{
	background: url(../img/tesetuijian/tstjbg.jpg);
	width: 100%;
	background-size: cover;
}
.tstj .row .col-md-6{
	padding: 10px;
}
.tstj .h30{
	font-size: 18px;
	color: #ea5b7d;
	padding: 10px;
	font-weight: 100;
}
.tstj img {
	width: 100%;
}
.tstj li{
	list-style: none;
}
.tstj h3,.tstj h4{
	font-size: 14px;
	font-weight: 600;
	letter-spacing: -0.6px;
}
.tstj p{
	font-size: 12px;
	width:100%;
	letter-spacing: -0.8px;
	color: #7fa1ff;
}
.tstj .row .col-md-3 p{
	font-size: 10px;
}
.tstj .row .col-md-4{
	padding: 0px 4px;
}

/*逛商场部分*/
.gsctxt,.djxy,.zhibo,.zhibo{
    margin-top: 10px;
    position: relative;
}
.gsc span,.djxy span,.zhibo span{
    position: relative;
}
.gsc span i,.djxy span i,.zhibo span i{
    background: url(../img/btn.jpg);
    display: block;
    width: 12px;
    height: 12px;
    text-align: left;
    background-size: cover;
    position: absolute;
    left: 28px;
    top: 2px;
}
.gsc .more{
    margin-right: 30px;
}
.gsc .more,.djxy .more,.zhibo .more{
    float: right;
/*    margin-top: 18px;*/
/*    padding-bottom: 13px;*/
    width: 20%;
}
.gsc .gsctxt{
	background: url(../img/guangshangchang/ashbg.jpg);
	width: 100%;
	background-size: cover;
}
.gsc .row .col-md-6{
	padding: 10px;
}
.gsc .row .col-md-6 img{
    margin-top: 30px;
}
.gsc .h30{
	font-size: 18px;
	color: #ea5b7d;
	font-weight: 100;
}
.gsc img {
	width: 100%;
}
.gsc li{
	list-style: none;
}
.gsc h3,.gsc h4{
	font-size: 14px;
	font-weight: 600;
	letter-spacing: -0.6px;
}
.gsc p{
	font-size: 12px;
	width:100%;
	letter-spacing: -0.8px;
	color: #f02b2b;
}
.gsc .row .col-md-3 p{
	font-size: 10px;
}
.gsc .row .col-md-4{
	padding: 0px 4px;
}
.pzss .row .col-md-3,.aishenghuo .row .col-md-3,.gsc .row .col-md-3{
	padding: 0px 6px;
    text-align: center;
}

/*东家小院部分*/
.djxy .djxytxt{
	background: url(../img/dongjiaxiaoyuan/bg.png);
	width: 100%;
	background-size: cover;
}
.djxy .row .col-md-6{
	padding: 0px 10px;
    text-align: center;
}
.djxy .h30{
	font-size: 18px;
	color: #ea5b7d;
	font-weight: 100;
}
.djxy img {
	width: 100%;
}
.djxy li{
	list-style: none;
}
.djxy h3,.djxy h4{
	font-size: 14px;
	font-weight: 600;
	letter-spacing: -0.6px;
}
.djxy p{
	font-size: 12px;
	width:100%;
	letter-spacing: -0.8px;
	color: #e836a8;
}
.djxy .row .col-md-3 p{
	font-size: 10px;
}
.djxy .row .col-md-4{
	padding: 0px 4px;
}
.pzss .row .col-md-3,.aishenghuo .row .col-md-3,.gsc .row .col-md-3,.djxy .row .col-md-3{
	padding: 0px 6px;
    text-align: center;
}
/*---发现好店部分样式---*/
.haodian .top{
    background: url(../img/faxianhaodian/te-bg.jpg);
    width: 100%;
    margin-top: 20px;
    background-size: cover;
}
.haodian .topp{
    text-align: center;
}
.haodian h2{
    display: inline-block;
    background-size: cover;
    font-size: 16px;
    font-weight: bold;
    color: #7473f6;
    margin-bottom: 0px;
}
.haodian .more span{
    float: right;
    position: relative;
    top: -20px;
    right: 14px;
    color: #8b8b8b;
    font-size: 12px;
}
.haodian .top::after{
    content: "";
    display: table;
    clear: both;
}
.haodian span i{
    background-image: url(../img/faxianhaodian/more.png);
    display: block;
    width: 12px;
    height: 12px;
    background-size: cover;
    position: absolute;
    left: 48px;
    top: 2px;
}
.haodian img{
    width: 100%;
}
.haodian h3{
    font-size: 14px;
    font-weight: bold;
}
.haodian p{
    font-size: 12px;
/*    height: 30px;*/
    color: #d663e1;
}
.haodian .col-xs-8{
    padding-left: 5px;
    padding-right: 5px;
}
.haodian .col-xs-6{
    padding-left: 5px;
    padding-right: 5px;
}
.haodian .col-xs-4{
    padding-left: 5px;
    padding-right: 5px;
}
.haodian .img1{
    margin-bottom: 10px;
}
.haodian .row{
    margin-left: -5px;
    margin-right: -5px;
}
.haodian .col-xs-6 i{
    display: inline-block;
    background-size: cover;
    position: absolute;
    top: 165px;
    left: 0px;
    z-index: 50;
}
.haodian .col-xs-6 span{
    color: #8d8d8d;
    margin-left: 46px;
    font-size: 12px;
}
.haodian .senma{
    background-image: url(../img/faxianhaodian/1-b.jpg);
    width: 46px;
    height: 14px;
}
.haodian .jiafang{
    background-image: url(../img/faxianhaodian/2-b.jpg);
    width: 42px;
    height: 14px;
}




/*---优选好店部分样式---*/
.youxuan .top{
    background: url(../img/youxuanqingdan/guang-bg.jpg);
    width: 100%;
    margin-top: 20px;
    background-size: cover;
}
.youxuan .topp,.gsc .topp,.djxy .topp,.zhibo .topp{
    text-align: center;
}
.gsc .topp,.djxy .topp,.zhibo .topp{
    float: center;
}
.youxuan h2,.gsc h2,.djxy h2,.zhibo h2{
    display: inline-block;
    background-size: cover;
    font-size: 16px;
    font-weight: bold;
    color: #7473f6;
    margin-bottom: 0px;
}
.youxuan .more span,.gsc .more span,.djxy .more span,.zhibo .more span{
    float: right;
    position: relative;
    top: -20px;
    right: 14px;
    color: #8b8b8b;
    font-size: 12px;
}
.youxuan .top::after{
    content: "";
    display: table;
    clear: both;
}
.youxuan span i,.gsc span i,.djxy span i,.zhibo span i{
    background-image: url(../img/youxuanqingdan/geng-btn.jpg);
    display: block;
    width: 12px;
    height: 12px;
    background-size: cover;
    position: absolute;
    left: 48px;
    top: 2px;
}
.gsc span i{
    left: 30px;
}
.youxuan img{
    width: 100%;
}
.youxuan h3{
    font-size: 14px;
    font-weight: bold;
}
.youxuan p{
    font-size: 12px;
/*    height: 30px;*/
    color: #d663e1;
}
.youxuan .col-xs-6 a{
    font-size: 12px;
    color: #8e8e8e;
}
.youxuan .col-xs-6 .a{
    text-align: center;
}
.youxuan .col-xs-6 span{
    color: #ec1937;
}
.youxuan .col-xs-6{
    padding-left: 5px;
    padding-right: 5px;
}
.youxuan .row{
    margin-left: -5px;
    margin-right: -5px;
}

/*京东直播部分*/
.zhibo img{
    width: 100%;
}
/*背景模糊*/
.zhibo{
    position: relative;
}
.zhibo-bg{
    background: url(../img/jingdongzhibo/img.jpg);
    width: 100%;
    height: 165px;
    position: absolute;
    top: 15%;
    left: 0px;
    filter: blur(3px);
    text-align: center;
    background-size: cover;
}
/*背景模糊*/

.zhibo .zhibotxt{
	background: url(../img/tesetuijian/tstjbg.jpg);
	width: 100%;
	background-size: cover;
}
.zhibo .h30{
    font-size: 18px;
    color: #ea5b7d;
    font-weight: 100;
}
.zhibo .swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.zhibo .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 200px;

}


/*为你推荐部分*/
.wntj li{
    list-style: none;
}
.wntj .wntjtxt{
    background: url(../img/weinituijian/bg.png);
    width: 100%;
    background-size: cover;
}
.wntj .h41{
    margin-bottom: 5px;
    width: 100%;
    overflow:hidden;
    text-overflow: ellipsis;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
}
.wntj .h41,.wntj .h41 span{
    font-size: 12px;
    line-height: 14px;
}
.wntj .h41 span{
    color: white;
    border-radius: 2px;
    background-color: red;
}
.wntj a{
    color: #232326;
}
.wntj .h41 .h4sp{
    background-color: purple;
}
.wntj ul li .img1{
    width: 100%;
}
.wntj p{
    color: red;
}
.wntj p span{
    color: black;
    font-size: 12px;
    margin-left: -2px;
}
.wntj p{
    position: relative;
}
.wntj p a{
    position: absolute;
    right: 0px;
    font-size: 12px;
    color: #686868;
    border-radius: 3px;
    border: 1px solid #c6c6c6;
}

/*返回顶部*/
#backtop{
    opacity: 0.8;
    border-radius: 100%;
    box-shadow: 2px 2px 5px #000;
    width: 40px;
    height: 40px;
    background: url(../img/backtop.png);
    background-size: cover;
    display: inline-block;
    position: fixed;
    bottom: 100px;
    right: 25px;
    display: none;
}


/*京东分类页面部分*/
.sort .main .container-fluid{
    padding: 0;
}
.sort .main .row{
    margin: 0;
}
.sort .main .col-xs-3,.sort .main .col-xs-9{
    padding: 0;
}
.sort .main .col-xs-3,.sort .main .col-xs-9{
    overflow: scroll;
}
.sort .main .main-nav li{
    font-size: 14px;
    text-align: center;
    padding: 10px;
}
.sort .main .active{
    color: red;
    background: #fff;
}
.sort .main .row .col-xs-9{
    background: #fff;
}
.sort .main a{
    color: #333;
}
.sort .main #box h4{
    float: left;
    display: block;
}
.sort .main #box p{
    text-align: right;
    margin-left: -10px;
    margin-top: 10px;
}
.sort .main #box{
    margin-left: 15px;
}
.sort .main h4{
    font-size: 14px;
    font-weight: 700;
}
.sort .main .row  img{
    margin-bottom: 10px;
}
.sort .main .row img,.sort .main .row p{
    width: 100%;
    font-size: 12px;
    text-align: center;
}


/*京东发现页面部分*/

/*main顶部样式*/
.topmain a{
    color: #81838e;
}
.topmain div{
    padding: 10px 0px;
    float: left;    
    text-align: center;
}
.topmain{
    font-size: 24px;
}
.topmain h3{
    margin: 0;
    padding: 0;
}
.topmain .left,
.topmain .right{
    width: 15%;
}
.topmain .center{
    width: 70%;
}

/*main部分样式*/
.find .main .mainnav{
    width: 85%;
    display: block;
    overflow: scroll;
    text-align: center;
}
.find .main .mainnav .nav{
    width: 700px;
}
.find .main .nav li,.find .main .nav{
    float: left;
}
.find .main .nav li{
    padding: 2px 0px;
    margin: 0px 6px;
    color: #727272;
    border-bottom: 2px transparent solid;
}
.find .main span{
    position: relative;
    top: -30px;
    right: -8px;
    width: 15%;
    float: right;
}
.find .main span a{
    color: #727272;
}
.find .main span i{
    font-size: 20px;
    padding: 5px;
    margin-right: 10px;
    box-shadow: -5px 2px 10px #888888;
}
